[Desktop Entry]
Version=1.0
Type=Application
Name=companion
Comment=A X compositor
Categories=Utility;
TryExec=companion
Exec=companion
Icon=xcompmgr
# Thanks to quequotion for providing this file!
